doctype html
html(lang='en')
html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous", rel='stylesheet')
        title= 'Note detail #{id}'
    body
        main(role="main" class="container")
            div.jumbotron
              each note in blog.rows
                  h2 Title #{note.title}
                  p.lead Author #{note.author}
                  p.lead Text #{note.full_text}
