doctype html
html(lang='en')
html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous", rel='stylesheet')
        title= 'Edit post'
    body
      each blog in post.rows
        form(action=`/admin/edit-post/${blog.id}`, method='post')
            input(type='text' value=blog.title, name='title')
            input(type='text' value=blog.author, name='author')
            input(type='text' value=blog.full_text, name='full_text')
            input(type='submit')

